@charset "utf-8";
#body-container{
    padding-top:500px;
    padding-bottom:500px;
}
.shop-group{
    width:100%;
    max-width:1024px;
    margin:auto;
    border:1px solid black;
    height:50px;
    display:flex;
    justify-content: space-between;
    position:sticky;
    top:107px;
}
.shop-group a{
    width:34%;
    height:100%;
    background-color:skyblue;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.shop-group a.active{
    background-color:darkred;
    color:white;
}
.shop-content{
    width:100%;
    max-width:1024px;
    margin:auto;
    height:500px;
    border:1px solid black;
    /* padding-top:50px; */
}
